@model IEnumerable<find_job.Models.ADModel>

@{
    ViewBag.Title = "show";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


@foreach (var item in Model)
{
    <div class="col-md-12" style="margin-top: 6px; padding: initial">
        <div class="thumbnail">
            <a href="@item.adURL">
                <img src="~/Uploads/@item.adImage" style="width:291px; height:200px" alt="@item.adContent" />
            </a>
        </div>
    </div>
}
